<h1>Nested Resources for All Tools</h1>

<% @tools.each do |tool| %>
  <ul>
  <li><%= tool.name %></li>
    <% tool.resources.each do |resource| %>
    <ul>
      <li><%= link_to resource.name, resource.url %> | <button class="btn btn-default">Resource Page</button></li>
      <!--ionicons not working!
      <li class="ion-ionic" data-pack="default"></li-->

        <ul>
          <li><%= resource.summary %></li>
        </ul>
    </ul>
    <% end %>
  </ul>
<% end %>
