<h1><%= @tool.name %></h1>
  <p class="lead">
    <%= @tool.summary %>
  </p>

<% @tool.resources.each do |resource| %>
  <ul>
    <li><%= link_to resource.name, resource.url %></li>
  </ul>
<% end %>
