<h1><%= @tool.name %></h1>
  <p class="lead">
    <%= @tool.summary %>
  </p>

<% @tool.resources.each do |resource| %>
  <ul>
    <li><%= link_to resource.name, resource.url %></li>
  </ul>
<% end %>

<button class="btn btn-default"><%= link_to "Add Resource", new_resource_path(@resource), :class => 'btn-resources' %></button>
