.btn-tools {
  color: #c09853;
}

.resources {
  color: #c09853;
}

.btn-resources {
  color: #3a87ad;

}

ul {
  list-style: none;
}

.hidden-resources {
  display: none;
}

.resources:hover {
  cursor: pointer;
  color: #009933;
}

#hide-resources:hover {
  cursor: pointer;
  color: #CC0000;
}

